{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <a href="{% url 'item_list' %}">View All Items</a>
    <h1>Add a New Item</h1>
    <div class="items_listed">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Item</button>
        </form>
    </div>
    
</body>
</html>
